/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
 
  color: #ecf0f1; /* Light text color for better contrast */
}

.app-title {
  font-size: 35px;
  margin-bottom: 20px;
  color: burlywood;
}

.input-box-container {
  display: inline-flexbox;
  justify-content: space-between;
  /* padding: 20px; */
  background-color: #2c3e50; /* Dark background color */
  
}
.inputbox{
  display: flex;
  padding: 50px;
  /* width: auto; */
}


.swap-button-container {
  margin: 10px;
}

.swap-button {
  background-color:burlywood;
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.swap-button:hover {
  background-color: #65f05c;
}

/* Add more styles as needed */
